{% load i18n %}
    <li id="message-{{ message.pk }}" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.subject %}<strong>{{ message.subject }}</strong><br />{% endif %}
        {% if message.is_persistent or jquery %}
            {% with 32 as max_words %}
            {{ message.message|truncatewords:max_words }}{% if message.message != message.message|truncatewords:max_words %} <a class="message-more" href="{% if message.is_persistent %}{% url message_detail message.pk %}{% else %}#{% endif %}">more</a>{% endif %}<br />
            {% endwith %}
        {% else %}
            {{ message }}
        {% endif %}
        {% if message.is_persistent or jquery %}
            <a class="message-close icon" href="{% if message.is_persistent %}{% url message_mark_read message.pk %}{% else %}#{% endif %}"><span>{% trans "close" %}</span></a>
        {% endif %}
    </li>
